li a {
    color: green;
}

.center{
    text-align: center;
}
.downp {
    padding-bottom: 40px;
}
.uppad {
    padding-top: 40px;
}

.form-control-inline {
    width: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control-inline2 {
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li {
  list-style-type: none;
 }
